/! styles
link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css"
link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-responsive.min.css"
link rel="stylesheet" href="/stylesheets/style.css"
link rel="stylesheet" href="/stylesheets/form.css"
link rel="stylesheet" href="/stylesheets/list.css"

/! external javascripts

/! third party libs
script src="/libs/jquery-1.10.2.js"
script src="/libs/bootstrap/js/bootstrap.min.js"
script src="/libs/angularjs/angular.js"
script src="/libs/angularjs/angular-resource.js"

/! couple lines of extra codez
script src="javascripts/ngapp/app.js"
script src="javascripts/ngapp/services/posts.js"
- #puts request.inspect